{% extends "layout.html" %}

{% block content %}
<article>
    <h2>{{ course.title }}</h2>
    {{ course.description }}
    <section>
        {% for step in steps %}
            <h3><a href="{{ step.get_absolute_url }}">{{ step.title|title }}</a></h3>
        {{ step.description }}
        {% endfor %}
    </section>
</article>
{% if user.is_authenticated %}
    <hr>
    <a href="{% url 'courses:create_quiz' course_pk=course.id %}"
       class="waves-effect waves-light btn-large">
        <i class="material-icons left">add</i>
        new quiz</a>

{% endif %}

{% endblock content %}