{% extends "layout.html" %}

{% block title %}
    Courses Details
{% endblock %}

{% block content %}
    <ul class="collection with-header">

    <li class="collection-header"><h4>{{ course.title }}</h4>
        {{ course.description }}
    </li>

    {% for step in steps %}
        <li class="collection-item">
        <h5><a href="{{ step.get_absolute_url }}">{{ step.title|title }}</a></h5>
        {{ step.description }}
        </li>
    {% endfor %}


    </ul>

    {% if user.is_authenticated %}
    <hr>
    <a href="{% url 'courses:create_quiz' course_pk=course.id %}"
    class="waves-effect waves-light btn">
    <i class="material-icons left">add</i>
    new quiz</a>
    {% endif %}

{% endblock content %}