{% extends "courses/step_detail.html" %}

{% block title %}Quiz Details{% endblock %}

{% block question %}
    <ul>
    {% for question in object.question_set.all %}
        <li>
        {% if question.multiplechoicequestion %}
            <a href="{% url 'courses:edit_mc_question' quiz_pk=object.pk question_pk=question.pk%}">
                {{ question }}
            </a>
        {% elif question.truefalsequestion %}
            <a href="{% url 'courses:edit_tf_question' quiz_pk=object.pk question_pk=question.pk%}">
                {{ question }}
            </a>
        {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endblock question %}

{% block step %}
    <a href="{% url 'courses:edit_quiz' course_pk=object.course_id quiz_pk=object.id %}"
        class="waves-effect waves-light btn">
        <i class="material-icons left">edit</i>Edit</a>
    <a href="{% url 'courses:create_mc_question' quiz_pk=object.pk %}"
        class="waves-effect waves-light btn">
        <i class="material-icons left">question_answer</i>New Multiple Choice Question</a>
    <a href="{% url 'courses:create_tf_question' quiz_pk=object.pk %}"
        class="waves-effect waves-light btn">
        <i class="material-icons left">thumbs_up_down</i>New True/False Question</a>
{% endblock step %}