{% extends "courses/layout.html" %}

{% block title %}{{ form.instance.title|default:"New Quiz" }} | {{ course.title }} | {{ block.super }}{% endblock %}

{% block content %}

    <h3><a href="{% url 'courses:detail' pk=object.course.id %}">{{ object.course.title }}</a></h3>
    <h4>{{ form.instance.title|default:"Make a new quiz" }} </h4>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="action">Save</button>
    </form>

{% endblock content %}